<h1> Sign Up</h1>

<br>

<form action="<%= users_url %>" method="post">
  <input 
    type="hidden" 
    name="authenticity_token" 
    value="<%=form_authenticity_token%>">
  
  <label for="Username">
    Username:
    <input type="text" name="user[username]" id="Username">
  </label>
  
  <label for="Email">
    Email:
    <input type="email" name="user[email]" id="Email">
  </label>
  
  <label for="Password">
    Password:
    <input type="password" name="user[password]" id="Password">
  </label>
  
  <input type="submit" value="Sign Up">  
</form>

<br>

<form action="<%= new_session_url %>" method="get">
  <label for="sign_in">Already a member?</label>
    <input type="submit" value="sign in" id="sign_in">
</form>
