<h1><%= @user.username.capitalize %>'s Specifications</h1>

<h3> Username: <%= @user.username %> </h3>
<h3> Email: <%= @user.email %> </h3>

<img src="https://pbs.twimg.com/profile_images/891013535433715713/RY7UH_vb_400x400.jpg" alt="Gangsta Capybara">